{% extends "base.html" %}

{% block content %}
 
<h2>Menu Items:</h2>
<table class='table table-hover table-bordered container'>
  <thead class="thead-dark">
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Protein</th>
      <th scope="col">Sugars</th>
      <th scope="col">Fats</th>
      <th scope="col">Price</th>
      <th scope="col">Allergens</th>
    </tr>
  </thead>
  <tbody>
    {% for food_items in avail_fi%}
      <tr>
        <th scope="row">{{food_items.id}}</th>
        <td>{{food_items.name}}</td>
        <td>{{food_items.price}}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
