{% extends "base.html" %}

{% block content %}

<br><br>

<h2>Existing Recommendations:</h2>

<form action="{{ url_for('recommendations.recommendations_filter')}}" method="POST">
  <label for="Attribute">Attribute</label>
  <select name="Attribute" id="Attribute1">
    <option value="Select...">Select...</option>
    <option value="Title">Title</option>
    <option value="Recent Posts">Recent Posts</option>
    <option value="Trending">Trending</option>
  </select>
  
  <label for="Ordering">Ordering</label>
  <select name="Ordering" id="Ordering1">
    <option value="Select...">Select...</option>
    <option value="Ascending">Ascending</option>
    <option value="Descending">Descending</option>
  </select>
  
  <input type="submit" value="Filter">
</form>

<table class='table table-hover table-bordered container'>
  <thead class="thead-dark">
    <tr>
      <th scope="col">Title</th>
      <th scope="col">Time</th>
      <th scope="col">Popularity</th>
    </tr>
  </thead>
  <tbody>
    {% for rec in avail_recs%}
      <tr>
        <th scope="row"><a href="{{ url_for('recommendations.recommendations_view', rec_id=rec.id) }}">{{rec.title}}</a></th>
        <td>{{rec.time_submitted}}</td>
        <td>{{rec.popularity}}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
<form action="{{ url_for('recommendations.recommendation_add')}}" method="POST">
  <input type ="submit" value="Add New">
</form>

{% endblock %}
