{% extends "base.html" %}

{% block content %}

<br><br>

<h2>Existing Recommendations</h2>

<div class="button-group">
  <p>Account:</p>
  <form action="{{ url_for('recommendations.recommendations_get_mine') }}" method="GET">
    <input type ="submit" value="See Mine">
  </form>
  
  <form action="{{ url_for('recommendations.recommendation_add')}}" method="POST">
    <input type ="submit" value="Add New">
  </form>
</div>

<form action="{{ url_for('recommendations.recommendations_search') }}" method="GET">
  <label for="search">Search:</label>
  <input type="text" id="search" name="query" placeholder="Enter your search term">
  <input type="submit" value="Search">
</form>
<form action="{{ url_for('recommendations.recommendations_filter')}}" method="POST">
  <label for="Attribute">Sort by:</label>
  <select name="Attribute" id="Attribute1">
    <option value="Attribute...">Attribute...</option>
    <option value="Title">Title</option>
    <option value="Recent Posts">Recent Posts</option>
    <option value="Trending">Trending</option>
  </select>
  <label for="Ordering"></label>
  <select name="Ordering" id="Ordering1">
    <option value="Ordering...">Ordering...</option>
    <option value="Ascending">Ascending</option>
    <option value="Descending">Descending</option>
  </select>
  <input type="submit" value="Sort">
</form>

<div class="button-group">
  <p>Tags:</p>
  <form action="{{ url_for('recommendations.recommendations_tag_search', tagname='Breakfast')}}" method="GET">
    <input type="submit" value="Breakfast">
  </form>
  <form action="{{ url_for('recommendations.recommendations_tag_search', tagname='Lunch')}}" method="GET">
    <input type="submit" value="Lunch">
  </form>
  <form action="{{ url_for('recommendations.recommendations_tag_search', tagname='Dinner')}}" method="GET">
    <input type="submit" value="Dinner">
  </form>
  <form action="{{ url_for('recommendations.recommendations_tag_search', tagname='Snack')}}" method="GET">
    <input type="submit" value="Snack">
  </form>
</div>
<style>
  .button-group {
    display: flex;
    align-items: center; /* Vertically center-align items within the container */
  }

  .button-group p {
    margin-right: 10px; /* Add some spacing between the word and buttons */
  }
</style>


<table class='table table-hover table-bordered container'>
  <thead class="thead-dark">
    <tr>
      <th scope="col">Title</th>
      <th scope="col">Time</th>
      <th scope="col">Popularity</th>
    </tr>
  </thead>
  <tbody>
    {% for rec in avail_recs%}
      <tr>
        <th scope="row"><a href="{{ url_for('recommendations.recommendations_view', rec_id=rec.id) }}">{{rec.title}}</a></th>
        <td>{{rec.time_submitted}}</td>
        <td>{{rec.popularity}}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
