{% extends "base.html" %}

{% block content %}

<h2>Reviews</h2>

<form action="{{ url_for('reviews.reviews_filter')}}" method="POST">
  <label for="Attribute">Sort by:</label>
  <select name="Attribute" id="Attribute">
    <option value="Attribute...">Attribute...</option>
    <option value="Rating">Rating</option>
    <option value="Date">Date</option>
  </select>
  <label for="Ordering"></label>
  <select name="Ordering" id="Ordering">
    <option value="Ordering...">Ordering...</option>
    <option value="Ascending">Ascending</option>
    <option value="Descending">Descending</option>
  </select>
  <label for="Restaurant">Filter by:</label>
  <select name="Restaurant" id="Restaurant">
    <option value="None">All Restaurants</option>
    {% for rest in avail_rests %}
      <option value="{{ rest.id }}">{{ rest.name }}</option>
    {% endfor %}
  </select>
  <input type="submit" value="Go">
</form>

<form action="{{ url_for('reviews.reviews_search') }}" method="GET">
  <label for="search">Search keyword:</label>
  <input type="text" id="search" name="query" placeholder="Enter your search term">
  <input type="submit" value="Search">
</form>

<br><br>

<form action="{{ url_for('reviews.review_add')}}" method="POST">
  <input type ="submit" value="Add new review">
</form>

<br><br>

{% if avail_reviews|length > 0 %}

<h3>Average rating of <font color="#ff0000">{{avg}}</font> from <font color="#ff0000">{{avail_reviews|length}}</font> reviews:</h3>

<table class='table table-hover table-bordered container'>
  <thead class="thead-dark">
    <tr>
      <th scope="col">Reviewer</th>
      <th scope="col">Date</th>
      <th scope="col">Restaurant</th>
      <th scope="col">Rating</th>
      <th scope="col">Description</th>
    </tr>
  </thead>
  <tbody>
    {% for review in avail_reviews%}
      <tr>
        <td>
          {% if review.anonymous %}
            <b>Anonymous</b>
          {% else %}
            <b>{{review.firstname}} {{review.lastname}}</b>
          {% endif%} 
        </td>
        <td>{{humanize_time(review.date)}}</td>
        <td>{{review.restaurant}}</td>
        <td>{{review.rating}} / 5</td>
        <td>{{review.description}}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>

{% else %}

<h2>No reviews found</h2>

{% endif %}

<br><br>

{% endblock %}